@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat", "sans-serif";
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
main{
    padding-left: 20%;
    padding-right: 20%;
}
main h1, h2{
    text-align: center;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/Bilder/vine.jpg);
    background-position-y: -20px;
    background-size: cover;
}

footer{
    background-color: black;
    overflow: hidden;
    color: aliceblue;
    clear:both;
    overflow: hidden;
}

.banner {
    background-image: url(/Bilder/vin.jpg);
    background-size: 100%;
    background-position-y: -400px;
    padding: 200px;
}

.logotype img{
    width: 150px;
    height: 100px;
    margin: 20px;
}

.boxes{
    display: flex;
    padding-left: 10%;
}
.box{
    width: 250px;
    height: 400px;
}

.box img{
    width: auto;
    height: 100%;
}

.navbar ul{
    list-style-type: none;
}
.navbar li a{
    transition: all 0.3s ease 0s;
    color: #6e4040;
    text-decoration: none;
    margin: 50px;
}
.navbar li a:hover{
    color:#fbfbfb;
}

.navbar li{
    float: right;
}