@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat", "sans-serif";
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
main{
    padding-left: 20%;
    padding-right: 20%;
}
main h1, h2{
    text-align: center;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/Bilder/vine.jpg);
    background-position-y: -20px;
    background-size: cover;
}

footer{
    background-color: black;
    overflow: hidden;
    color: aliceblue;
    clear:both;
    overflow: hidden;
}

.banner {
    background-image: url(/Bilder/vin.jpg);
    background-size: 100%;
    background-position-y: -400px;
    padding: 200px;

}

.logotype img{
    width: 150px;
    height: 100px;
    margin: 20px;
}

.boxes{
    display: flex;
    padding-left: 10%;
}
.box{
    width: 250px;
    height: 400px;
}

.box img{
    width: auto;
    height: 100%;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:  30px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #6e4040;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #683131;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%; 

}
.banner-text{
    text-align: center;
    color: #6e4040; 
    padding-top: 20px;
}
.banner-text h1{
    font-size: 50px;
    font-family: italic;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}

#burgernav{
    width: 220px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background:#683131;
    z-index: 2;
}
nav ul li{
    list-style: nonve;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color:#bb6868
}
#menuB{
    width: 50px;
    height: 50px;
    background: #6e4040;
    text-align: center;
    position: fixed;
    left: 0px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuB.jpg img{
    width: 10px;
    margin-top: 3;
}


